<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar">
  </ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tnKi8Vx9mRvOGrmzBOOh5wHEbQI.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Resindent Evil (2022)</h1>
          <p>14/05/2022 (BR) - 1h 50m </p>
          <p>Ação, Fantasia, Aventura</p>
        </div>
      </ion-label>

      <ion-chip color="danger" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg">
      </ion-thumbnail>
      <ion-label>Red: Crescer é uma fera</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Teste 03</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Teste 04</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Teste 05</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
